<div class="w-full">

  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="text-4xl font-medium text-center my-5 tracking-wider text-white">Today</h1>

  <div id="lists">
    <ul data-controller="sortable" class="grid grid-cols-3 gap-4">
        <% @lists.each do |list| %>
            <li data-sortable-update-url="<%= sort_list_path(list) %>">
                <%= render list %>
            </li>
        <% end %>
    </ul>
  </div>

  <div class="flex justify-center my-8">
    <%= button_to new_list_path, method: :get, data: { turbo_frame: 'modal' }, class: "h-10 w-10 bg-green-500 text-white rounded-full shadow-lg" do %>
      <%= heroicon('plus') %>
    <% end %>
  </div>

</div>
