<div id="<%= dom_id todo %>" class="bg-opacity-100 p-3 rounded shadow-lg w-54 my-3">
  <div class="flex justify-between items-center">
    <%= link_to edit_todo_path(todo), class: "h-5 w-5 text-sky-500" do %>
      <%= heroicon('pencil') %>
    <% end %>
    <p class="text-center font-medium">
      <%= todo.title %>
    </p>
    <%= button_to todo_path(todo), method: :delete, data: { confirm: 'Are you sure?' }, class: "h-5 w-5 text-red-600 font-medium" do %>
      <%= heroicon('trash') %>
    <% end %>
  </div>
</div>
