<div id="<%= dom_id todo %>" class="flex flex-col gap-3 bg-opacity-100 p-3 rounded shadow-lg w-54 my-3">
  <div class="flex justify-between items-center">

    <%= form_with model: todo, class: "contents", data: { turbo_frame: dom_id(todo, "title") } do %>
      <%= turbo_frame_tag dom_id(todo, "title"), data: { controller: "inline-edit"} do %>
        <p class="py-3 pl-2 my-1 text-center text-sm font-medium">
          <%= link_to todo.title, edit_todo_path(todo) %>
        </p>
      <% end %>
    <% end %>

    <div class="flex items-center gap-3">
      <div>
        <%= form_with model: todo, data: { controller: "todos" }, class: "contents", local: false do |form| %>
          <%= turbo_frame_tag dom_id(todo, "completed") do %>
            <%= form.check_box :completed, id: dom_id(todo, "completed"), data: { action: "todos#submit" } %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>

  <div class="flex justify-between items-center">

    <div>
      <%= form_with model: todo, class: "contents", data: { turbo_frame: dom_id(todo, "due_date") } do %>
        <%= turbo_frame_tag dom_id(todo, "due_date") do %>
          <p class="text-xs text-gray-500">
            <%= link_to todo.due_date? ? todo.due_date.strftime("%b %d, %Y") : '2001', edit_todo_path(todo) %>
          </p>
        <% end%>
      <% end %>
    </div>

    <%= button_to todo_path(todo), method: :delete, data: { confirm: 'Are you sure?' }, class: "h-5 w-5 text-red-600 font-medium" do %>
      <%= heroicon('trash') %>
    <% end %>

  </div>

</div>
