<div id="<%= dom_id todo %>" class="bg-yellow-200 p-5 rounded shadow-lg w-64 my-4 relative">
  <p class="text-center font-medium mb-4">
    <%= todo.title %>
  </p>

  <p class="mb-4">
    <%= todo.description %>
  </p>

  <p class="absolute bottom-2 left-2 text-sm">
    Due date: <%= todo.due_date %>
  </p>

  <p class="absolute bottom-2 right-2 text-sm">
    Completed: <%= todo.completed ? 'Yes' : 'No' %>
  </p>
</div>
